<?xml version="1.0"?>
<!--
 * @category   Scoring
 * @package    Netresearch_Scoring
 * @author     Thomas Kappel <thomas.kappel@netresearch.de>
 * @copyright  Copyright (c) 2011 Netresearch GmbH & Co.KG <http://www.netresearch.de/>
-->

<config>
    <modules>
        <Netresearch_Scoring>
            <version>13.11.06</version>
        </Netresearch_Scoring>
    </modules>
    <global>
        <blocks>
            <scoring>
                <class>Netresearch_Scoring_Block</class>
            </scoring>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Netresearch_Scoring_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <scoring>
                <class>Netresearch_Scoring_Helper</class>
            </scoring>
        </helpers>
        <models>
            <scoring>
                <class>Netresearch_Scoring_Model</class>
                <resourceModel>scoring_resource</resourceModel>
            </scoring>
            <scoring_resource>
                <class>Netresearch_Scoring_Model_Resource</class>
                <entities>
                    <log>
                        <table>scoring_log</table>
                    </log>
                </entities>
            </scoring_resource>
        </models>
        <resources>
            <scoring_setup>
                <setup>
                    <module>Netresearch_Scoring</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </scoring_setup>
            <scoring_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </scoring_write>
            <scoring_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </scoring_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scoring translate="title" module="scoring">
                                            <title>Scoring</title>
                                        </scoring>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Netresearch_Scoring>
                    <files>
                        <default>Netresearch_Scoring.csv</default>
                    </files>
                </Netresearch_Scoring>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <scoring>
                    <file>scoring.xml</file>
                </scoring>
            </updates>
        </layout>
        <events>
            <netresearch_scoring_checkout_type_onepage_save_order_before>
                <observers>
                    <scoring_check_customer_data>
                        <type>singleton</type>
                        <class>scoring/observer</class>
                        <method>checkCustomerData</method>
                    </scoring_check_customer_data>
                </observers>
            </netresearch_scoring_checkout_type_onepage_save_order_before>
            <customer_logout>
                <observers>
                    <unsetAll>
                        <class>scoring/observer</class>
                        <method>unsetSession</method>
                    </unsetAll>
		        </observers>
		    </customer_logout>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <unsetAll>
                        <class>scoring/observer</class>
                        <method>unsetGuestSessionAfterChangedBillingAddress</method>
                    </unsetAll>
                </observers>
			</controller_action_postdispatch_checkout_onepage_saveBilling>
			<controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <unsetAll>
                        <class>scoring/observer</class>
                        <method>unsetGuestSessionAfterChangedShippingAddress</method>
                    </unsetAll>
                </observers>
			</controller_action_postdispatch_checkout_onepage_saveShipping>
        </events>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Netresearch_Scoring_Checkout before="Mage_Checkout">Netresearch_Scoring_Checkout</Netresearch_Scoring_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <default>
        <scoring>
            <basic>
                <livemode>0</livemode>
                <address_type>billing</address_type>
                <check_always>0</check_always>
            </basic>
            <payment>
                <validation_active>0</validation_active>
            </payment>
            <address>
                <validation_active>0</validation_active>
                <defaultvalue>1</defaultvalue>
            </address>
            <solvency>
                <total_min>0</total_min>
                <skip_methods>free</skip_methods>
            </solvency>
            <errormessages>
                <solvency>The requested payment method is currently not available.</solvency>
                <address>Please validate your address!</address>
            </errormessages>
            <re-request>
                <max_number_of_checkouts>5</max_number_of_checkouts>
                <log_vadility_lifetime>3600</log_vadility_lifetime>
            </re-request>
        </scoring>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Netresearch_Scoring />
            </modules>
        </suite>
    </phpunit>
</config>
